.global-loader {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.content {
  margin: 8% 28%;
  position: absolute;
  border-radius: 10px;
  top: 5px;
  left: -69px;
}

.spinner {
  background: #B4AEFF;
  width: 40px;
  height: 40px;;
  position: absolute;
  border-radius: 50%;
  border: 8px solid #B4AEFF;
  border-bottom-color: orange;
  border-right: 2px;
  animation: rt 0.9S linear 0s infinite;
  transition: 0.5s all ease-in-out;
  margin-top:-2px
}

@keyframes rt{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);

  }
}


  .active-loader {
    position: absolute;
    top: 44%;
    left: 53.5%;
    transform: translate(-50% -50%);
  }


