.select-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  :global .custom-select__indicator-separator {
    display: none;
  }
}

.select {
  width: 100px;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}